node_modules/
/.pnp
.pnp.js

/coverage

/frontend/build
/frontend/dist

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

uploads/
*.pdf

.vscode/
.idea/

.DS_Store
Thumbs.db